* {
    box-sizing: border-box;
}

body {
    background: url(../images/geo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.header {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 32px;
}

.crystalContainer {
    width: 80%;
    margin: auto;
}

.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crystal {
    height: 250px;
    width: 250px;
    background-image: url("../images/crystal3.png");
    background-size: cover;
    background-position: right center;
}

.crystal:hover {
    cursor: grabbing;
    transform: translate(5px, 10px)
}

.paragraph {
    font-family: 'Balsamiq Sans', cursive;
    text-decoration: underline;
    text-align: center;
    font-size: 26px;
    text-shadow: 0.5px 0.5px black;
    line-height: 8px;
    color: black;
}

.scoreContainer, .winsLossesContainer {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 34px;
    width: 50%;
    float: left;
    text-align: center;
}

#result {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 34px;
}
